

a, a:hover, a:visited, a:active { font-size: 100px; 
								color: blue; 
								text-decoration: none;
								font-weight: bold }


.panel-primary { border-color: #000000; }

.panel-primary>.panel-heading { background-color: blue; 
								border-color: #000000; }

.media-list>.media { padding-bottom: 1em; 
					border-bottom: dotted 1px #c0c0c0; }

.media-list>.media:last-child { padding-bottom: 0em; 
								border-bottom: none; }

